body {
  background-color: #faf9b4; 
}

#title {
  color: #fcaf42;  
  text-align: center; 
  font-size: 3rem; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}


#logo {
  height: 5rem; 
  width: 5rem; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

