#headerButtons {
    display: flex; 
    justify-content: space-between;
    flex-direction: row; 
    margin-bottom: 3rem; 
}

.headerbutton {
    background: transparent;
    border-radius: 5px; 
    border: 1px solid #e6921d;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #e6921d;
    padding: 3px; 
}

.headerbutton:hover {
    background-color: #fccd8c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle hover shadow */
}
  