#page-title {
    color: #fcaf42;  
    text-align: center; 
    font-size: 1.5rem; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.challenge-item {
    color: #e6921d;
    padding: 40px;
    margin: 20px;
    font-size: 1.1rem; 
    border: 2px solid #e6921d;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Indicates it's clickable */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.challenge-item:hover {
    background-color: #fccd8c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle hover shadow */
}
  
.challenge-name {
    font-weight: bold;
}
  
  .challenge-status {
    color: #555;
}