.dailyChallenge {
    color: #fcaf42;  
    text-align: center; 
    font-size: 1.5rem; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#points{
    color: #fcaf42;  
    text-align: center; 
    font-size: 1rem; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.points{
    color: #fcaf42; 
    font-size: 1.2rem; 
}

#input{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

#challenge{
    border:2px solid white; 
}