#logInDiv {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.buttons {
    background-color: white;
    color: #fcaf42;  
    border: none; 
    font-size: 2rem; 
    padding: 1.5rem; 
    margin-top: 5rem; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    border-radius: 50px; 

}

.buttons:hover{
    box-shadow: 5px 10px #fcaf42;
}


#title {
    color: #fcaf42;  
    text-align: center; 
    font-size: 3rem; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  }
  
  
  #logo {
    height: 5rem; 
    width: 5rem; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  